body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

#usernameContainer, #chat-container {
    width: 300px;
    margin: 50px auto;
    padding: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
    height: 200px;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

input {
    width: 80%;
    padding: 5px;
    margin-right: 5px;
}

button {
    padding: 5px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}